{% extends 'layout.html' %}
{% block title %}Отзывы наших клиентов{% endblock %}

{% block content %}
    <section class="house-block padding--120">
        <div class="wrap">
            <div class="title-block" style="float:initial;"><span>Отзывы</span> наших клиентов</div>
            <!-- templates/reviews/index.html -->
            <div class="reviews-gallery">
                {% include 'components/reviews-list.html' with reviews=reviews %}
            </div>
        </div>
    </section>
{% endblock %}