{% extends 'layout.html' %}
{% block title %}Наши работы{% endblock %}

{% block content %}
    <section class="house-block padding--120">
        <div class="wrap">
            <div class="title-block">Портфолио <span>построенных</span> бань</div>
            <div class="multiple-items slider">
                <div>
                    <img class="lazyload" src="images/kdnov1.jpg" alt="Баня из бруса с террасой"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}