{% extends 'layout.html' %}
{% block title %}Строительство бань{% endblock %}

{% block content %}
    <section class="catalog-block padding--60">
        <div class="wrap">
            <nav class="breadcrumbs">
                <a href="/portfolio/" class="breadcrumbs__item">Наши работы</a>
            </nav>
            <div class="modal-house portf">
                <div class="m-house__title do900">Баня-дом из бруса в пос. Нижний Склад</div>
                <div class="m-house__img">
                    <div class="m-house-img__default">
                        <img src="images/IPwbmwbYKZ6M.jpg" alt="Баня-дом из бруса в пос. Нижний Склад"/>
                    </div>
                </div>
                <div class="m-house__info">
                    <div class="m-house__title posle900">Баня-дом из бруса в пос. Нижний Склад</div>
                    <div class="srok">
                        <div class="srok-title">Срок строительства:</div>
                        <div>25 рабочих дней</div>
                    </div>
                    <div class="house-item__params">
                        <div class="house-item__param2">
                            <span class="icon icon--material"></span>
                            <span><i>Профилированный брус</i></span>
                        </div>
                        <div class="house-item__param squa2">
                            <span class="icon icon--size"></span>
                            <span><i>Размеры:</i> 4 × 6 м</span>
                        </div>
                        <div class="house-item__param squa2">
                            <span class="icon icon--size"></span>
                            <span><i>Терраса:</i> 2 × 6 м</span>
                        </div>

                        <div class="house-item__param">
                            <span class="icon icon--area"></span>
                            <span>72 м<sup>2</sup></span>
                        </div>
                        <div class="house-item__param">
                            <span class="icon icon--door"></span>
                            <span>4 помещения</span>
                        </div>
                    </div>
                    <div class="m-house__btn">
                        <a class="button button-370 popup-view" href="#callme" data-popup="modal"
                           data-title="Узнать стоимость строительства" data-metka="Узнать цену Наши работы Дом-баня"
                           data-button="Отправить заявку">
                            <span>Узнать стоимость</span>
                        </a>
                    </div>
                </div>

                <div class="m-house__complectation">
                    <div class="m-house__title-2">
                        Выполненные работы
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Возведение фундамента</span>
                        Свайно-винтовой фундамент
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Сборка дома-бани</span>
                        Сборка строения из профилированного бруса 140 х 140
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Утепление</span>
                        Утепление полов и потолков
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Ветро-парозащита</span>
                        Монтаж ветрозащитной и пароизоляционной мембраны
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Окна и двери</span>
                        Монтаж окон, дверей, остекление балкона
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Водосток</span>
                        Монтаж водосточной системы
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Лестница</span>
                        Изготовление и монтаж лестницы на второй этаж
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Печи</span>
                        Монтаж двух печей
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Отделка</span>
                        Отделка всех помещений под ключ
                    </div>
                    <div class="list-check">
                        <span class="list-check--title">Электрика</span>
                        Монтаж электрики во всех помещениях
                    </div>
                </div>

                <div class="m-house__haract2">
                    <div class="m-house__title-2">
                        Планировка
                    </div>

                    <div class="m-house__haract--wrap">
                        <div class="m-house__haract--title">Первый этаж</div>
                        <div class="haract-list">
                            <span>Терраса</span><span>12 м<sup>2</sup></span>
                        </div>
                        <div class="haract-list">
                            <span>Комната отдыха</span><span>16 м<sup>2</sup></span>
                        </div>
                        <div class="haract-list">
                            <span>Парная</span><span>4 м<sup>2</sup></span>
                        </div>
                        <div class="haract-list">
                            <span>Мойка</span><span>4 м<sup>2</sup></span>
                        </div>
                    </div>

                    <div class="m-house__haract--wrap">
                        <div class="m-house__haract--title">Второй этаж</div>
                        <div class="haract-list">
                            <span>Комната</span><span>24 м<sup>2</sup></span>
                        </div>
                        <div class="haract-list">
                            <span>Балкон</span><span>12 м<sup>2</sup></span>
                        </div>
                    </div>

                    <div class="m-house__haract--wrap"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="house-block padding--120">
        <div class="wrap">
            <div class="title-block"><span>Фотоотчет</span> строительства</div>
            <div class="portfolio-photo-list">
                <a class="portfolio-photo-list-item" data-fancybox="1"
                   href="/wp-content/themes/krdom2/images/portfolio/2/1.jpg"><img class="lazyload"
                                                                                  src="images/xvoW9lkfqhwp.jpg"
                                                                                  alt="Баня-дом из бруса в пос. Нижний Склад"/></a>
            </div>
        </div>
    </section>
{% endblock %}