<section id="contacts" class="contact-block padding--120">
    <div class="wrap">
        <div class="title-block">
            Наши <span>контакты</span>
            <div class="title-block--sub">
                Вы сможете лично обсудить проект со специалистом, посмотреть<br/>
                готовые бани и увидеть образцы материалов
            </div>
        </div>

        <div class="contact-list" style="justify-content: center">
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--geo"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Наш офис</div>
                    <div class="material-item__desc">
                        <div>
                            {{ contact_info.address }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--time"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Режим работы</div>
                    <div class="material-item__desc">
                        <div>{{ contact_info.working_hours }}</div>
                        Без выходных
                    </div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--phone"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Контакты</div>
                    <div class="material-item__desc">
                        <div><a href="tel:{{ contact_info.phone_number }}">{{ contact_info.phone_format }}</a><br/></div>
                        <a href="mailto:{{ contact_info.email }}" class="link">{{ contact_info.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
