<section id="contacts" class="contact-block padding--120">
    <div class="wrap">
        <div class="title-block">
            Посетите наш <span>офис и выставку</span><br/>
            в Томске
            <div class="title-block--sub">
                Вы сможете лично обсудить проект со специалистом, посмотреть<br/>
                готовые бани и увидеть образцы материалов
            </div>
        </div>

        <div class="contact-list">
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--geo"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Офис и производство</div>
                    <div class="material-item__desc">
                        <div>г. Томск</div>
                        <div>Богдана Хмельницкого, 79</div>
                    </div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--geo"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Выставка бань</div>
                    <div class="material-item__desc">
                        <div>г. Томск</div>
                        <div>Иркутский проезд, 1</div>
                    </div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--time"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Режим работы</div>
                    <div class="material-item__desc">
                        <div>Ежедневно с 9.00 до 21.00<br/></div>
                        Без выходных
                    </div>
                </div>
            </div>
            <div class="contact-item">
                <div class="contact-item__icon">
                    <span class="icon icon--phone"></span>
                </div>
                <div class="contact-item__info">
                    <div class="contact-item__name">Контакты</div>
                    <div class="material-item__desc">
                        <div><a href="tel:+73822330068">8 (3822) 33-00-68</a><br/></div>
                        <a href="mailto:dsktomska@yandex.ru" class="link">dsktomska@yandex.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
