{% extends 'layout.html' %}
{% block title %}Готовые бани{% endblock %}

{% block content %}
    <section class="section section-promo" id="promo">
        <div class="wrap">
            <div class="promo-box">
                <div class="promo-fcol">
                    <div>
                        <div class="promo-pl">АКЦИЯ НА ГОТОВЫЕ БАНИ</div>
                        <div class="title-promo">Закажите баню <span>по цене 2024 года</span> прямо сейчас</div>
                    </div>
                    <a class="button" href="/gotovie/">Выбрать баню</a>
                </div>
                <div class="promo-container">
                    <div class="promo-item">
                        <div class="promo-svg">
                            <img src="images/Z8eXWaM63DMi.svg" alt=""/>
                        </div>
                        <div class="promo-desc"><span>Бесплатное хранение</span> бани на производстве до весны</div>
                    </div>
                    <div class="promo-item">
                        <div class="promo-svg">
                            <img src="images/DuvJ6oMvmyc9.svg" alt=""/>
                        </div>
                        <div class="promo-desc">Строим из чистого <span>зимнего леса</span></div>
                    </div>
                    <div class="promo-item last">
                        <div class="promo-svg">
                            <img src="images/8Uxyeahbx0tt.svg" alt=""/>
                        </div>
                        <div class="promo-desc"><span>Доступна рассрочка</span> от банка</div>
                    </div>
                </div>
                <a class="button mob" href="/gotovie/">Выбрать баню</a>
            </div>
        </div>
    </section>
    <section class="house-block padding--120" id="projects">
        <div class="wrap banises">
            <div class="title-block longtitle">Каталог <span>готовых бань</span> из бруса</div>
            <div class="catalog-list">
                {% include 'components/catalog-card.html' %}
                {% include 'components/catalog-card.html' %}
                {% include 'components/catalog-card.html' %}
            </div>
        </div>

        <div class="house-item__btn button-eshe allprojects">
            <a class="button korrbut" href="#allb">
                <span>Смотреть еще</span>
            </a>
        </div>
    </section>
{% endblock %}