{% load static %}
<div class="house-item">
    <div class="house-item__img">
        <a href="{% url detail_url bath.slug %}">
            <img src="{{ bath.image.url }}" alt="lazy"/>
        </a>
    </div>
    <div class="house-item__name">
        <a href="{% url detail_url bath.slug %}">{{ bath.title }}</a>
    </div>
    <div class="house-item__params">
        <div class="house-item__param">
            <span class="icon icon--area"></span>
            <span>{{ bath.total_area }} м<sup>2</sup></span>
        </div>
        <div class="house-item__param">
            <span class="icon icon--size"></span>
            <span>{{ bath.width }} × {{ bath.height }} м</span>
        </div>
    </div>
    <div class="house-item__price"><span>{{ bath.price }}</span> ₽</div>
    <div class="house-item__btn">
        <a class="button" href="{% url detail_url bath.slug %}"><span>Подробнее</span></a>
    </div>
</div>