{% load static %}
<div class="logo-block">
    <a href="{% url 'main:index' %}">
        <img class="logo-block__img" src="{% static 'images/ZC0WzDL3rclH.png' %}"
             alt="Строительство бань в Томске - {{ APP_NAME }}"/>
    </a>
    <span class="logo-block__desc">
                    Строительство бань<br/>
                    из бруса и продажа <br/>
                    готовых бань
                </span>
    <div class="navigation-mobile mob">
        <span class="srvbtn-trigger"><i></i></span>
    </div>
</div>