{% load static %}
<div class="portfolio-item">
    <div class="portfolio-item__img">
        <a href="/portfolio/banya-4/">
            <img src="{% static 'images/lazy2.png' %}" alt="lazy"/>
            <img class="lazyload" alt="Баня из бруса в пос. Светлый" src="{% static 'images/mainph.jpg' %}"/>
        </a>
    </div>
    <div class="portfolio-item__desc">
        <div class="portfolio-item__name"><a href="/portfolio/banya-4/">Баня из бруса в пос. Светлый</a>
        </div>
        <div class="house-item__params">
            <div class="house-item__param2">
                <span class="icon icon--material"></span>
                <span>Профилированный брус</span>
            </div>
        </div>
        <div class="house-item__params">
            <div class="house-item__param squa2">
                <span class="icon icon--size"></span>
                <span><i>Баня:</i> 4 × 5.5 м</span>
            </div>
            <div class="house-item__param squa2">
                <span class="icon icon--size"></span>
                <span><i>Терраса:</i> 4 × 1.5 м</span>
            </div>
        </div>
        <div class="house-item__params">
            <div class="house-item__param">
                <span class="icon icon--area"></span>
                <span>22 м<sup>2</sup></span>
            </div>
            <div class="house-item__param">
                <span class="icon icon--door"></span>
                <span>2 пом.</span>
            </div>
        </div>

        <div class="house-item__btn">
            <a class="button" href="/portfolio/banya-4/"><span>Подробнее</span></a>
        </div>
    </div>
</div>